.primary-color{
    -fx-background-color: #13123A;
}
.secondary-color{
    -fx-background-color: #00002C;
}

.button{
    -fx-background-color: #242551;
    -fx-background-radius: 30;
}
.text-input{
    -fx-background-color: #00002C ;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #242551;
}

.my-list-cell {
    -fx-text-fill: blue;
    -fx-font: 16px "Arial";
    /* No alternate highlighting */
    -fx-background-color: #FFF;
}
.text-area{
    -fx-background-color: #00002C;
}
.text-field{
    -fx-text-fill: white;
}
.combo-box .list-cell{
    -fx-background-color: #00002C ;
    -fx-text-fill: white;
}
